body{
    font:60px Harrington;
    background-color:green;
    text-align:center;
    
}

.master{
    display:grid;
    grid-template-columns: auto auto auto;
}

.pic{
    padding: 10px;
}

.msg{
    background-color:yellow;
    color:blue;
    text-align:center;
    <!--padding:70px 0;-->
}